*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/misc.xml
app/build.gradle
app/google-services.json
.idea/workspace.xml
.idea/
.gradle/
app/app.iml
local.properties
